<div class="forum">
	<% if session[:roles].present? && session[:roles]['id'] != 2 %>

	<%= link_to t("addsub"), {controller: 'forum', action: 'newsub'},{ :class => 'btn btn-primary' } %>

	<% end %>		

<%= link_to t('back'), :back, { :class => 'btn btn-primary'} %>
<% if session[:user_name].present? %>
	<%= link_to t("newtopic"), { controller: 'forum', action: 'newtopic', id: params[:id], id_sub: 0} , { :class => 'btn btn-primary'} %>
<% end %>

<h1><%= t("subcat") %></h1>

<% @sub_category.each do |t| %>
<div class="category post">
		<h2>
			<%= link_to t.title, controller: 'forum', action: 'lstSub', id_sub: t.id %>
		</h2>
		<span class="desc-forum">
			<%= t.desc %>
		</span>
		<% if session[:roles].present? && session[:roles]['id'] != 2 %>
				<%= link_to t("edit"), id_sub: t.id, controller: 'forum', action: 'editsub' %>
				<%= link_to t("destroy"), t, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end -%>
</div>
<% end %>
<div class="topic-list">
	<div class="h1"><%= t("topic") %></div>
<% @topic.each do |t| %>
	<div class="topic-name">
		<%= link_to t.title,  controller: 'topic', action: 'index', id: t.id %>
	</div>
<% end %>
</div>


</div>