<div class="content-post">
<div class="main-post">
  <div class="post">
  <% if session[:roles].present? && session[:roles]['create_droit'] == 1 %>
  <%= link_to t("newpost"), new_post_path, { :class => 'btn btn-primary'} %>
<% end %>
</div>
    <% @posts.each do |post| %>
      <div class='post'>
        <h2>
            <%= link_to post.title, post %>
        </h2>
         <% if session[:roles].present? && session[:roles]['update_droit'] == 1 %> 
          <%= link_to t("edit"), edit_post_path(post) %>
        <% end %>
        <% if session[:roles].present? && session[:roles]['delete_droit'] == 1 %>
          <%= link_to t("destroy"), post, method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
        <span class='auteur'>Proposé par <span class='user'>
          <%= post.user.name %>
        </span> - <%= t("le") %> <%= l post.created_at, :format => :sample %></span>
        <%= image_tag post.photo.url(:small), { :class => 'gif_f'} %>
        <div class="info">
        <span class="texte">
          <%= post.texte %>
        </span>
        </div>
      
       
     </div>

     
    <% end %>
    <%= will_paginate @posts %>
     </div>
