<div class="form-con">
	<div class="post">
<%= form_for @reply do |f|%>
<fieldset>
	<legend><%= t("editmsg") %></legend>
  <div class="field">
    <%= f.label :message_reply %><br>
    <%= f.text_field :message_reply %>
  </div>
  <%= f.hidden_field :message_id, :value => params[:id_reply] %>
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
</div>
</div>